<div class="container">
    <div class="row">
        <form (ngSubmit)="saveStudent()">


        <div class="form-group">
            <input type="text" name="student_name" [(ngModel)]="student.student_name" 
            placeholder="Enter student name" class="form-control col-md-12">
        </div>

        <div class="form-group">
            <input type="text" name="student_email" [(ngModel)]="student.student_email" 
            placeholder="Enter student email" class="form-control col-md-12">
        </div>


        <div class="form-group">  
            <label for="name">Student Cohort</label>  
            <select name="student_branch" [(ngModel)]="student.student_branch">
                <option *ngFor="let c of cohort" [value]="c.name">{{c.name}}</option>
              </select>                               
        </div>  


        <button *ngIf="!student.student_id" type="submit" class="btn btn-primary">Add Student</button>
        <button *ngIf="student.student_id" type="submit" class="btn btn-success">Edit Student</button>

        <button *ngIf="student.student_id" (click)="deleteStudent(student.student_id)" class="btn btn-danger">Delete</button>


    </form>


    </div>
</div>