<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a routerLink="/add-student" class="btn btn-primary text-light">Add Student</a>
        </div>
    </div>
   
    <table class="table table-striped">

        <thead class="thead-inverse">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Branch</th>
            <th scope="col"></th>
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of students">
            <td> {{ s.student_name}} </td>
            <td> {{ s.student_email }}</td>
            <td> {{ s.student_branch }} </td>
            <td><button class="btn btn-danger" (click)="deleteStudent(s.student_id)">Delete</button></td>

            <td><a routerLink="/edit-student/{{s.student_id}}">Edit</a></td>
          </tr>
        </tbody>
      </table>
    
</div>